.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/

.idea/
.vscode/
/linux/flutter/generated_plugin_registrant.cc
/linux/flutter/generated_plugins.cmake
